# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
*~
.DS_Store
._*
.Spotlight-V100
.Trashes
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web / Static Hosting artifacts
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
.vercel/
.netlify/

# Environment and secrets
.env*
!.env.example

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# Android Studio / Gradle artifacts
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
**/android/captures/
**/android/.gradle
**/android/local.properties
**/android/**/build/

# iOS / Xcode
**/ios/**/build/
**/ios/**/DerivedData/
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
